<div class="list-group mb-4">
    <a href="{{ url_for('admin_users') }}" class="list-group-item list-group-item-action {% if request.endpoint == 'admin_users' or request.endpoint == 'edit_user' %}active{% endif %}">
        User Management
    </a>
    <a href="{{ url_for('admin_leads') }}" class="list-group-item list-group-item-action {% if request.endpoint == 'admin_leads' or request.endpoint == 'add_lead' or request.endpoint == 'edit_lead' or request.endpoint == 'assign_lead_route' %}active{% endif %}">
        Lead Management
    </a>
    <a href="{{ url_for('admin_workspaces') }}" class="list-group-item list-group-item-action {% if request.endpoint == 'admin_workspaces' or request.endpoint == 'edit_workspace' %}active{% endif %}">
        Workspaces
    </a>
    <a href="{{ url_for('admin_fields') }}" class="list-group-item list-group-item-action {% if request.endpoint == 'admin_fields' or request.endpoint == 'edit_field' %}active{% endif %}">
        Custom Fields
    </a>
    <a href="{{ url_for('admin_header_mappings') }}" class="list-group-item list-group-item-action {% if request.endpoint == 'admin_header_mappings' or request.endpoint == 'add_header_mapping' or request.endpoint == 'edit_header_mapping' %}active{% endif %}">
        Header Mappings
    </a>
    <a href="{{ url_for('admin_imports') }}" class="list-group-item list-group-item-action {% if request.endpoint == 'admin_imports' or request.endpoint == 'import_csv' or request.endpoint == 'import_sheet' %}active{% endif %}">
        Import / Export
    </a>
</div>